<template>
  <q-layout view="lHh Lpr lFf">

    <q-drawer show-if-above side="left" bordered>
      <q-list v-if="loggedIn" padding>
        <q-item>
          <q-img
            src="https://placeimg.com/500/300/technology"
            style="max-width: 400px; height: 200px;"
          >
            <div class="absolute-bottom text-subtitle1 text-center">
              Hello, {{acc.myToken.data.firstname}}
            </div>
          </q-img>
        </q-item>

         <q-item
            clickable
            v-ripple
            :active="link === 'inbox'"
            to="/home"
            active-class="my-menu-link"
          >
            <q-item-section avatar>
              <q-icon name="inbox" />
            </q-item-section>

            <q-item-section>Tasks</q-item-section>
          </q-item>

          <q-separator spaced />

          <q-item
            clickable
            v-ripple
            :active="link === 'settings'"
            @click="logout"
            active-class="my-menu-link"
          >
            <q-item-section avatar>
              <q-icon name="settings" />
            </q-item-section>

            <q-item-section>Logout</q-item-section>
          </q-item>
      </q-list>
      <div v-else class="flex flex-center">
        <q-banner rounded class="bg-purple-8 text-white">

          We can't find your saved recipes until you sign in.

          <template v-slot:action>
            <q-btn :to="{path: '/signin'}" flat color="white" label="Sign in" />
          </template>
        </q-banner>
      </div>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
export default {
  name: 'MainLayout',
  data () {
    return {
      link: 'inbox'
    }
  },
  computed:{
    ...mapGetters('userinfo', ['loggedIn']),
    ...mapState({
          acc: state => state.userinfo
      }),
  },
  methods: {
    ...mapActions('userinfo',['logoutUser'] ),
    logout() {
      this.logoutUser().then(this.$router.push('/signin'));
    }
  }
}
</script>
