<template>
  <q-page class="">
    <q-banner inline-actions class="text-white bg-primary full-width" style="max-height:50px">
        <q-btn flat color="white" @click="addTaskModal = true" label="Add Task" />
    </q-banner>
    <q-list class="full-width">
      <div v-for="task in tasks"
      :key = "task.id">
        <q-item>
          <q-item-section>
            <q-item-label>{{task.task}}</q-item-label>
            <q-item-label caption lines="2">{{task.desc}}</q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-item-label caption>5 min ago</q-item-label>
          </q-item-section>
        </q-item>

        <q-separator spaced inset />
      </div>
    </q-list>
    <q-dialog
      v-model="addTaskModal"
    >
      <q-card flat bordered style="width: 700px; max-width: 80vw;">
          <q-card-section>
            <div class="text-h6">Add New Task</div>
          </q-card-section>

          <q-separator inset />

          <q-card-section>
          <q-form
              @submit="addTask"
              class="q-gutter-md"
            >
            <q-input v-model="task" label="Title" />
            <q-input v-model="desc" label="Description" />
            <q-input type="date" v-model="from" label="From" />
            <q-input type="date" v-model="to" label="To" />
            <div>
              <q-btn label="Submit" type="submit" color="primary"/>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
let token = JSON.parse(localStorage.getItem('myToken'));
export default {
  name: 'PageIndex',
  data(){
    return{
      slide: 1,
      addTaskModal: false,
      tasks: [],
      task: '',
      desc: '',
      from: '',
      to: '',
      status: 'started'
    }
  },
  methods: {
    addTask(){
        this.addNewTask(this.task, this.desc, this.from, this.to, this.status, );
      },

      addNewTask(task, desc, from, to, status){

        console.log(task, desc, from, to, status);
        this.$axios({
        method: 'post',
        url: 'http://localhost:2800/taskmanagement',
        data: JSON.stringify({task, desc, from, to, status}),
        headers: {
            Authorization : 'Bearer '+  token.data.token,
            'Content-Type': 'application/json' 
          }
        })
          .then((response) => {
            console.log(response);
            this.addTaskModal = false;
          }) 
          .catch(error => {console.log( 'the error has occured: ' + error) })
      }
  },
  created(){
      this.$axios({
            method: 'get',
            url: 'http://localhost:2800/taskmanagement/',
            headers: {
              Authorization : 'Bearer '+ token.data.token,
              'Content-Type': 'application/json' 
            }
            }).then((res) => {
              this.tasks = res.data
              console.log(res.data);
            }).catch(error => {console.log( 'the error has occured: ' + error) })
      }
}
</script>
