<template>
  <q-page class="flex flex-center">
    <q-card flat bordered class="my-card bg-grey-1" style="min-width: 500px">
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="mails" label="Login" />
          <q-tab name="alarms" label="Register" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="mails">
            <div class="text-h6">Login</div>
            <q-form
                @submit.prevent="loginUser"
                class="q-gutter-md"
              >
                <q-input
                  filled
                  v-model="userLogin.uname"
                  label="Your Username *"
                  hint="Usurname"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Please type something']"
                />

                <q-input
                  filled
                  v-model="userLogin.pword"
                  label="Your Password *"
                  hint="Usurname"
                  type="password"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Please type something']"
                />
                <div>
                  <q-btn label="Submit" type="submit" color="primary"/>
                </div>
              </q-form>
          </q-tab-panel>

          <q-tab-panel name="alarms">
            <div class="text-h6">Register</div>
            <q-form
                @submit.prevent="registerUser"
                class="q-gutter-md"
              >
                <q-input
                  filled
                  v-model="userRegistration.firstname"
                  label="Your Firstname *"
                  hint="Name and surname"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Please type something']"
                />

                <q-input
                  filled
                  v-model="userRegistration.lastname"
                  label="Your Lastname *"
                  hint="Name and surname"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Please type something']"
                />
                
                <q-input
                  filled
                  v-model="userRegistration.uname"
                  label="Your username *"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Please type something']"
                />

                <q-input
                  filled
                  v-model="userRegistration.pword"
                  label="Your Password *"
                  lazy-rules
                  type="password"
                  :rules="[ val => val && val.length > 0 || 'Please type something']"
                />

               

                <div>
                  <q-btn label="Submit" type="submit" color="primary"/>
                </div>
              </q-form>
          </q-tab-panel>
        </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
export default {
  name: 'Sign',
  data () {
    return {
      tab: 'mails',
      userRegistration : {
        firstname : "",
        lastname : "",
        uname : "",
        pword : ""
      },

      userLogin : {
        uname : "kimdancil123@try.com",
        pword : "kim123"
      },
      
    }
  },
  methods:  {
    ...mapActions('userinfo', ['register', 'login']),
    registerUser(){
        this.register(this.userRegistration).then(this.$router.push('/signin'));
    },
    loginUser(){
      this.login(this.userLogin).then(this.$router.push('/home'));
    }
  }
}
</script>
