﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<div id="calculator"  style="width: 25%; margin-left: 35%;" >
		<div >
	    <span v-for="log in logs">{{ log }}</span>
	    </div>
	        <input type="string" style="width: 267px; height: 50px" class="form-control mb-2"  v-model="value" @@keyup.enter="getResult()">
	    <div style="margin-bottom: 4px">		    
		      <button style="width: 50px; height: 50px"@@click="addExpresion(7)">7</button>	   
		      <button style="width: 50px; height: 50px" @@click="addExpresion(8)">8</button>		   
		      <button style="width: 50px; height: 50px" @@click="addExpresion(9)">9</button>
		      <button style="width: 50px; height: 50px" @@click="clear()">C</button>
		      <button style="width: 50px; height: 50px" @@click="clearE()">CE</button>		    
  		</div>	
  		<div style="margin-bottom: 4px">
		      <button style="width: 50px; height: 50px" @@click="addExpresion(4)">4</button>		 
		      <button style="width: 50px; height: 50px" @@click="addExpresion(5)">5</button>		  
		      <button style="width: 50px; height: 50px" @@click="addExpresion(6)">6</button>		  
		  	  <button style="width: 50px; height: 50px" @@click="addExpresion('/')">/</button>
		  	  <button style="width: 50px; height: 50px" @@click="addExpresion('*')">*</button>	      		   
	    </div>	
	    <div style="margin-bottom: 4px">
		      <button style="width: 50px; height: 50px" @@click="addExpresion(1)">1</button>		  
		      <button style="width: 50px; height: 50px" @@click="addExpresion(2)">2</button>		    
		      <button style="width: 50px; height: 50px" @@click="addExpresion(3)">3</button>
		      <button style="width: 104px; height: 50px" @@click="addExpresion('-')">-</button>		        
  	    </div>	 	
      	<div>	   
	          <button style="width: 50px; height: 50px" @@click="addExpresion(0)">0</button>	    
	          <button style="width: 50px; height: 50px" @@click="addExpresion('.')">.</button>	    
	          <button style="width: 50px; height: 50px" @@click="getResult()">=</button>
	          <button  style="width: 104px; height: 50px" @@click="addExpresion('+')">+</button>	    
        </div>
</div>

<script type="text/javascript">
new Vue({
    el: '#calculator',
    data: {
        value: 0,
        logs: []
    },
    methods: {
        addExpresion: function (e) {
        	
        	if (Number.isInteger(this.value))
            this.value = '';
            this.value += e;
            
        },
        getResult: function () {
            var log = this.value;
            this.value = eval(this.value);
            this.logs.push(log + ("=" + this.value + "   |   "));

        },
        clear: function () {
        	
            this.value = 0;
            this.logs='';
        },
        del: function () {
            this.value = this.value.slice(0, -1);

        }
    }
});
</script>

</div>
