﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="kim">
		 <input type="text" name="Fullname" v-model="name"><br>
		 <input type="number" name="Contact Number" v-model="contact"><br>



		 <button type="button" @@click="add" >Enter</button>

		 <table style="width:100%">
		  <tr>
		    <th>Firstname</th>
		    <th>Lastname</th> 
		    <th></th> 
		    
		  </tr>
		  <tr v-for="(input, index) in log">
		    <td><input type="text" v-model="input.inname"></td>
		    <td><input type="text" v-model="input.incontact"></td>
		    <td><button type="button" @@click="remove(index)">drop</button></td>
		  </tr>
		  
		</table>

</div>

