﻿@{
    ViewBag.Title = "BuiltInTypehelpers";
}
<style>
    .myclass {
        width: 400px;
        border: 1px solid brown;
        height: 35px;
        border-radius: 5px;
        margin-left: 50px;
    }

    .myclass1 {
        margin-left: 100px;
    }
</style>
<h2>Registration</h2>
@using (Html.BeginForm("SubmitData", "HtmlHelpersEx", FormMethod.Post))
{
    <table>
        <tr>
            <td> @Html.Label("First Name") </td>
            <!-- Add CSS class , required html attribute and Placeholder using htmlattributes -->
            <td>@Html.TextBox("txt1", "", new { @class = "myclass", @placeholder = "Enter first name", @required = "required" })</td>
        </tr>

        <tr>
            <td> @Html.Label("Last Name") </td>
            <!-- Add CSS class , required html attribute and Placeholder using htmlattributes -->
            <td>@Html.TextBox("txt1", "", new { @class = "myclass", @placeholder = "Enter last name", @required = "required" })</td>
        </tr>

        <tr>
            <td> @Html.Label("Middle Name") </td>
            <!-- Add CSS class , required html attribute and Placeholder using htmlattributes -->
            <td>@Html.TextBox("txt1", "", new { @class = "myclass", @placeholder = "Enter middle name", @required = "required" })</td>
        </tr>

        <tr>
            <td> @Html.Label("Age") </td>
            <!-- Add CSS class , required html attribute and Placeholder using htmlattributes -->
            <td>@Html.TextBox("txt1", "", new { @class = "myclass", @placeholder = "Enter Age", @required = "required" })</td>
        </tr>
        
        <tr>
            <td> @Html.Label("Address") </td>

            <td>

                @Html.DropDownList("StateList", new List<SelectListItem> { new SelectListItem { Text = "Raj", Value = "1" }, new SelectListItem { Text = "UP", Value = "2" } }, "Address", new { @class = "myclass", @required = "required" })
                <!-- To Get Selected Text instead of value create hidden field-->
                <input type="hidden" name="hidden1" id="hidden1" value="" />
            </td>
        </tr>
        <tr>
            <td> @Html.Label("Sex") </td>

            <td>
                @Html.RadioButton("gender", "male", new { @class = "myclass1" })@Html.Label("Male")
                @Html.RadioButton("gender", "female")@Html.Label("Female")
            </td>
        </tr>
       
      
        <tr>
            <td colspan="2"><input type="submit" name="sub1" value="Save" class="btn btn-primary btn-lg" /> 
            
          @*@Html.ActionLink("Go To Inline Helper", "InlineHTMLHelper" , "HtmlHelpersEx", new { id1 = "sdsdsds" }, null)*@
            </td>

        </tr>
    </table>

}

<script src='@Url.Content("~/Scripts/jquery-1.10.2.min.js")'></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script>
    // Code to take text from selected item from dropdown
    $(document).ready(function () {
        $("#StateList").change(function () {
            var ddtext = $("#StateList option:selected").text();
            $("#hidden1").val(ddtext);

        })



    })



</script>